
// Box Shadow
$box-shadow: 0 0 0 1px rgba(8,9,10,0.1);
 
$chart-colors-dark: (
    'primary': #FFFFFF,
    'secondary': #CCCCCC,
    'accent': rgb(241, 196, 15),
    'background':  #2D2D2D,
    'border': #666666,
    'input': #222222
);

$chart-colors-light: (
    'primary': #222222,
    'secondary': #404040,
    'accent': rgb(241, 196, 15),
    'background':  #FEFEFE
);



@function chart-color($key: 'primary') {
    @return map-get($chart-colors-dark, $key);
}

