
// Box Shadow
$box-shadow: 0 0 0 1px rgba(8,9,10,0.1);
 
// Colors
$widget-color--light: #222222;
$widget-color--light: #FFFFFF;

$widget-background--light: #FEFEFE;
$widget-background--dark: #FEFEFE;

$chart-item-background--light: #FEFEFE;
$chart-item-background--dark: #FEFEFE;