
.chart-state-debugger {
  font-size: 0.9em;
  text-align: left;
  padding: 1em 2em 2em 2em;
  margin-top: 0.5em;

  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;

  header {
    text-align: center;
    font-weight: 600;
    max-width: 100%;
    display: block;
    margin: 1rem 0 0;
  }

  label {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 0.5em;
  }

  button {
    float: right;
  }

  section {
    width: 25vmax;
    background-color: #ffffff;
    box-shadow: $box-shadow;
    margin-top: 5.25em;
    padding: 1em 2em 2em 2em;

    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    &.hidden {
      width: 0;
      overflow: auto;
      padding: 0;
      overflow-y: hidden;
    }
  }
}
