
.chart-widget {
  background-color: chart-color('background');
  color: chart-color('primary');
  border: 1px solid chart-color('border');
  //border-radius: 4px;
  box-shadow: $box-shadow;
  text-align: center;
}