
.chart-widget {
  background-color: chart-color('background');
  color: chart-color('primary');
  border: 1px solid chart-color('border');
  //border-radius: 4px;
  box-shadow: $box-shadow;
  text-align: center;

  button {
    color: chart-color('primary');
    border: 1px solid chart-color('border');

    &:hover, &:focus, &:active {
      color: darken(chart-color('primary'), 20%);
    } 
  }

  input { 
    color: chart-color('primary');
    background: chart-color('input');
  }

}

.chart-widget {
  button {
    display: inline-block;
    background: transparent;
    border-radius: 4px;
    text-transform: none;
    cursor: pointer;
    margin: 0 0.5em;
  }

  label {
    display: block;
    max-width: 100%;
    margin: 1em 0;
  }

  input { 
    display: block;
    border: none;
    padding: 1em;
    outline: none;
    line-height: 1;
    border-radius: 4px;
  }

  .button-icon {
    border: none;
    margin: 0;
    padding: 0em 0.75em;

    &:hover, &:focus, &:active {
      border: none;
      background-color: #222222;
      border-radius: 50%;
    } 
  }

}