
.chart-widget {
  background-color: chart-color('background');
  color: chart-color('primary');
  border-radius: 4px;
  box-shadow: $box-shadow;

  button {
    color: chart-color('primary');
  }

  input { 
    color: chart-color('primary');
    background: chart-color('input');
  }

}