
.chart-editor {
  padding: 1em;

  .chart-editor-item {
    margin: 1em 0;
    width: 100%;

    label {
      text-align: left;
      margin-bottom: 0.25em;
      font-size: 0.75em;
    }
    input {
      width: 100%;
    }
    select {
      width: 100%;
    }
  }

  .chart-editor-button {
    //background-color: #ffffff;
    margin: 0;
    border-radius: 0px;
    border: 2px solid rgba(0, 0, 0, 0);
    border: none;

    &:hover {
      background-color: #f6f8fa;
    }

    &:focus,
    &:active,
    &.active {
      color: #4e4e4e;
      border-bottom: 2px solid rgba(27, 112, 192, 1);
      background-color: #ffffff;
    }

    &.active {
      color: rgb(10, 96, 175);
    }
  }

  .chart-editor-save {
    text-align: right;
  }
}
