
.chart-view {
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {  
    list-style: none;
  }
}

.chart-view-item {
  padding: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #e8e8e8;
  list-style: none;

  .chart-view-item-title {
    margin: 1em 0 0 0;
    text-align: center;
  }

  .data-table {
    margin-top: 5em;
    font-size: 0.5em;
  }
}

.chart-view-item-no-data {
  padding: 4em;
}

.number-chart-item {
  .stats-item {
    font-size: 2.5em;
    color: #404040;
  }
}

.stats-chart-item {
  margin: auto;
  margin-top: 2em;

  .stats-item {
    font-size: 2.5em;
    color: #404040;
  }
}

.chart-view-item-controls {
  margin: 0em;

  select {
    margin: 0em;
  }
}

.chart-view-item-attribute-controls {
  width: 50%;
  text-align: left;
  font-size: 0.5em;
  margin: 0 0 0 1em;
}

.chart-type-select {

}
